@import 'sass/Utils/variables';
@import 'sass/Utils/mixins';


*{
    box-sizing: border-box;
}

body {
   margin: 0 auto;
   font-family: $font-text;
}

@include page_header;
.backlink { color: black;}

.header__wrapper {
// Tablet portrait & Desktop ////////////////////////
@include breakpoint (laptop) {
    margin-left: -80px;
    }    }

@include pic-intro__content;

.menu__wrapper {
    background-color: $primary-bkgnd-color;
    width: 100%;
    margin-top: -17px;
    padding-top: 32px;
    max-width: 1224px;
    position: relative;
    margin: auto;

    .menu__content {
    width: 90%;
    margin: auto;

    // Tablet portrait & Desktop ////////////////////////////
    @include breakpoint (laptop) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    }  }
    
    //Restanrants Page title//
    .menu__title-and-heart-bloc--palette { @include menu__title-and-heart-bloc;
        .heart_inline--palette {  left: 270px;  }

         // Tablet portrait & Desktop ////////////////////////////
         @include breakpoint (laptop) {
        .heart_inline--palette {  left: 270px;  }
      }  }
    .menu__title-and-heart-bloc--enchantee { @include menu__title-and-heart-bloc;
        .heart_inline--enchantee {  left: 290px;  }

         // Tablet portrait & Desktop ////////////////////////////
         @include breakpoint (laptop) {
        .heart_inline--enchantee {  left: 260px;  }
      }  }
    .menu__title-and-heart-bloc--francaise { @include menu__title-and-heart-bloc;
        .heart_inline--francaise {  left: 260px;  }

         // Tablet portrait & Desktop ////////////////////////////
         @include breakpoint (laptop) {
        .heart_inline--francaise {  left: 230px;  }
      }  }
    .menu__title-and-heart-bloc--delice { @include menu__title-and-heart-bloc;
        .heart_inline--delice {  left: 260px;  }

         // Tablet portrait & Desktop ////////////////////////////
         @include breakpoint (laptop) {
        .heart_inline--delice {  left: 230px;  }
      }  }


    // MENU CONTENT BLOCKS //
    .menu__content__bloc {
    // Tablet portrait & Desktop ////////////////////////////
    @include breakpoint (laptop) {
    width: 330px;     } }

    .menu__content__list { @include menu_content_list;
    // Tablet portrait & Desktop ////////////////////////////
    @include breakpoint (laptop) {
    justify-self: flex-start;
    width: 100%;
    margin-top: 30px;  } }

    //  MENU-DESCRIPTIONS //
    .menu__title { @include menu_titles;}
    .menu__desc { @include menu_descriptions;}
    .menu__desc p { margin: 3px;}
    .menu__desc a { text-decoration: none; color: black;}
    .menu__price-bloc { @include menu_prices;}

    // ANIMATION - ROLLING CHECH-ICON //
         //Menu slab - Green cover indention//
    .remplissage {
        background-color: #99e2d0;
        width: 0px;
        position: absolute;
        right: 0px;
        padding: 17px 0px 17px 0px;
        height: 100.5%;
        bottom: 0px;
        border-radius: 0px 15px 15px 0px;
        transition: all 0.4s linear 0s;
    }
    .menu__desc--animation:hover .remplissage {
        width: 60px;
        padding: 17px 10px 17px 10px;
    }

         //Menu slab - Price indention//
    .price {
        white-space: nowrap;
        text-overflow: ellipsis;
	    transition: all 0.4s linear 0s;
    }
    .menu__desc--animation:hover .price {
        text-indent: 60px;
    }

         //Menu slab - Text Ellipsis//
       .menu__textdescription {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        display: inline-block;
    }

        //Menu slab - Rolling Icon indention//
    .remplissage-content:after {
        content:"\f058";
        font-family: FontAwesome;
        font-size: 25px;
        opacity: 0;
        color: #ffff;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 0px;
        position: absolute;
        right: 30px;
        height: 100%;
        bottom: 0px;
        text-align: center;
        animation: left-to-right 0.5s;
        transition: opacity .6s;
    }
    .menu__desc--animation:hover .remplissage-content:after {
        right: 30px;
        opacity: 2;
        animation: rolling 0.5s linear 0s;
    }
    @keyframes rolling {
      0% {transform: translateX(30px) rotateZ(360deg);}
      33% {transform: translateX(20px) rotateZ(300deg);}
      66% {transform: translateX(10px) rotateZ(180deg);}
      100% {transform: translateX(0px) rotateZ(0deg);}
    }
    @keyframes left-to-right {
      0% {transform: translateX(0px) rotateZ(0deg);}
      33% {transform: translateX(10px) rotateZ(180deg);}
      66% {transform: translateX(20px) rotateZ(300deg);}
      100% {transform: translateX(30px) rotateZ(360deg) scale(0px);}
    }

    // ANIMATION - Menu progressive appearance //
    .menu__content--entrees {animation: fadein 1s;}
    @keyframes fadein {  from { opacity:0; } to { opacity:1; }  }
    .menu__content--plats {animation: fadein 2.5s;}
    @keyframes fadein {  from { opacity:0; } to { opacity:1; }  }
    .menu__content--desserts {animation: fadein 3.5s;}
    @keyframes fadein {  from { opacity:0; } to { opacity:1; }  }

}

    // Section of button 'Commander' //
    @include section-btn-commander;
    
    // FOOTER //
Footer {
  @include footer;
  // Tablet portrait & Desktop - 768 and up ////////////////////////////
  @include breakpoint (laptop) {
    ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding-left: 0;
    }
  }

  }

  .menu__wrapper {
    // Tablet portrait & Desktop - 1099 and up ////////////////////////////
    @include breakpoint (laptop1099) {
      
      height: 508px;
  
      }
  
     }

     .btn__commander__wrapper {
      // Tablet portrait & Desktop - 1099 and up ////////////////////////////
      @include breakpoint (laptop1099) {
        
        margin-bottom: 2px;
    
        }
    
       }