* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
}

header {
  background-color: #ffff;
  padding: 25px 0px 16px 0px;
  position: relative;
  -webkit-box-shadow: 0px 6px 9px -5px #999999;
  box-shadow: 0px 6px 9px -5px #999999;
  -webkit-box-shadow: none;
          box-shadow: none;
}

header .header__logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

header .header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 85%;
}

.backlink {
  color: black;
}

@media screen and (min-width: 768px) {
  .header__wrapper {
    margin-left: -80px;
  }
}

.pic-intro__content {
  width: 100%;
  position: relative;
}

.pic-intro__content .pic-intro__picture {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 48% 55%;
     object-position: 48% 55%;
  height: 220px;
  margin: 0;
}

.pic-intro__content .menu__title__bkgnd {
  width: 100%;
  display: block;
  margin-top: -35px;
  background-color: #f6f6f6;
  padding: 12px 0px 25px 0px;
  border-radius: 40px 40px 0px 0px;
  position: absolute;
  max-width: 1224px;
  top: 109%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.menu__wrapper {
  background-color: #f6f6f6;
  width: 100%;
  margin-top: -17px;
  padding-top: 32px;
  max-width: 1224px;
  position: relative;
  margin: auto;
}

.menu__wrapper .menu__content {
  width: 90%;
  margin: auto;
}

@media screen and (min-width: 768px) {
  .menu__wrapper .menu__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

.menu__wrapper .menu__title-and-heart-bloc--palette {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: -40px;
}

.menu__wrapper .menu__title-and-heart-bloc--palette .menu__page__title {
  font-family: "Shrikhand", cursive;
  font-weight: lighter;
}

.menu__wrapper .menu__title-and-heart-bloc--palette .heart-filled:before {
  content: "\f004";
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  font-size: 15.7px;
  position: relative;
  right: -.05px;
  top: 17px;
  color: #9c0202;
  opacity: 0;
  -webkit-transition: All 3s;
  transition: All 3s;
}

.menu__wrapper .menu__title-and-heart-bloc--palette .heart_inline:hover .heart-filled:before {
  opacity: 1;
}

.menu__wrapper .menu__title-and-heart-bloc--palette .heart_inline {
  width: 30px;
  position: absolute;
  left: 220px;
  top: 4px;
}

.menu__wrapper .menu__title-and-heart-bloc--palette .heart_inline a {
  text-decoration: none;
}

.menu__wrapper .menu__title-and-heart-bloc--palette .fa-heart-o {
  color: black;
}

@media screen and (min-width: 768px) {
  .menu__wrapper .menu__title-and-heart-bloc--palette {
    position: absolute;
    left: 60px;
  }
  .menu__wrapper .menu__title-and-heart-bloc--palette .heart_inline {
    width: 30px;
    position: absolute;
    left: 220px;
    top: 12px;
  }
}

.menu__wrapper .menu__title-and-heart-bloc--palette .heart_inline--palette {
  left: 270px;
}

@media screen and (min-width: 768px) {
  .menu__wrapper .menu__title-and-heart-bloc--palette .heart_inline--palette {
    left: 270px;
  }
}

.menu__wrapper .menu__title-and-heart-bloc--enchantee {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: -40px;
}

.menu__wrapper .menu__title-and-heart-bloc--enchantee .menu__page__title {
  font-family: "Shrikhand", cursive;
  font-weight: lighter;
}

.menu__wrapper .menu__title-and-heart-bloc--enchantee .heart-filled:before {
  content: "\f004";
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  font-size: 15.7px;
  position: relative;
  right: -.05px;
  top: 17px;
  color: #9c0202;
  opacity: 0;
  -webkit-transition: All 3s;
  transition: All 3s;
}

.menu__wrapper .menu__title-and-heart-bloc--enchantee .heart_inline:hover .heart-filled:before {
  opacity: 1;
}

.menu__wrapper .menu__title-and-heart-bloc--enchantee .heart_inline {
  width: 30px;
  position: absolute;
  left: 220px;
  top: 4px;
}

.menu__wrapper .menu__title-and-heart-bloc--enchantee .heart_inline a {
  text-decoration: none;
}

.menu__wrapper .menu__title-and-heart-bloc--enchantee .fa-heart-o {
  color: black;
}

@media screen and (min-width: 768px) {
  .menu__wrapper .menu__title-and-heart-bloc--enchantee {
    position: absolute;
    left: 60px;
  }
  .menu__wrapper .menu__title-and-heart-bloc--enchantee .heart_inline {
    width: 30px;
    position: absolute;
    left: 220px;
    top: 12px;
  }
}

.menu__wrapper .menu__title-and-heart-bloc--enchantee .heart_inline--enchantee {
  left: 290px;
}

@media screen and (min-width: 768px) {
  .menu__wrapper .menu__title-and-heart-bloc--enchantee .heart_inline--enchantee {
    left: 260px;
  }
}

.menu__wrapper .menu__title-and-heart-bloc--francaise {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: -40px;
}

.menu__wrapper .menu__title-and-heart-bloc--francaise .menu__page__title {
  font-family: "Shrikhand", cursive;
  font-weight: lighter;
}

.menu__wrapper .menu__title-and-heart-bloc--francaise .heart-filled:before {
  content: "\f004";
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  font-size: 15.7px;
  position: relative;
  right: -.05px;
  top: 17px;
  color: #9c0202;
  opacity: 0;
  -webkit-transition: All 3s;
  transition: All 3s;
}

.menu__wrapper .menu__title-and-heart-bloc--francaise .heart_inline:hover .heart-filled:before {
  opacity: 1;
}

.menu__wrapper .menu__title-and-heart-bloc--francaise .heart_inline {
  width: 30px;
  position: absolute;
  left: 220px;
  top: 4px;
}

.menu__wrapper .menu__title-and-heart-bloc--francaise .heart_inline a {
  text-decoration: none;
}

.menu__wrapper .menu__title-and-heart-bloc--francaise .fa-heart-o {
  color: black;
}

@media screen and (min-width: 768px) {
  .menu__wrapper .menu__title-and-heart-bloc--francaise {
    position: absolute;
    left: 60px;
  }
  .menu__wrapper .menu__title-and-heart-bloc--francaise .heart_inline {
    width: 30px;
    position: absolute;
    left: 220px;
    top: 12px;
  }
}

.menu__wrapper .menu__title-and-heart-bloc--francaise .heart_inline--francaise {
  left: 260px;
}

@media screen and (min-width: 768px) {
  .menu__wrapper .menu__title-and-heart-bloc--francaise .heart_inline--francaise {
    left: 230px;
  }
}

.menu__wrapper .menu__title-and-heart-bloc--delice {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: -40px;
}

.menu__wrapper .menu__title-and-heart-bloc--delice .menu__page__title {
  font-family: "Shrikhand", cursive;
  font-weight: lighter;
}

.menu__wrapper .menu__title-and-heart-bloc--delice .heart-filled:before {
  content: "\f004";
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  font-size: 15.7px;
  position: relative;
  right: -.05px;
  top: 17px;
  color: #9c0202;
  opacity: 0;
  -webkit-transition: All 3s;
  transition: All 3s;
}

.menu__wrapper .menu__title-and-heart-bloc--delice .heart_inline:hover .heart-filled:before {
  opacity: 1;
}

.menu__wrapper .menu__title-and-heart-bloc--delice .heart_inline {
  width: 30px;
  position: absolute;
  left: 220px;
  top: 4px;
}

.menu__wrapper .menu__title-and-heart-bloc--delice .heart_inline a {
  text-decoration: none;
}

.menu__wrapper .menu__title-and-heart-bloc--delice .fa-heart-o {
  color: black;
}

@media screen and (min-width: 768px) {
  .menu__wrapper .menu__title-and-heart-bloc--delice {
    position: absolute;
    left: 60px;
  }
  .menu__wrapper .menu__title-and-heart-bloc--delice .heart_inline {
    width: 30px;
    position: absolute;
    left: 220px;
    top: 12px;
  }
}

.menu__wrapper .menu__title-and-heart-bloc--delice .heart_inline--delice {
  left: 260px;
}

@media screen and (min-width: 768px) {
  .menu__wrapper .menu__title-and-heart-bloc--delice .heart_inline--delice {
    left: 230px;
  }
}

@media screen and (min-width: 768px) {
  .menu__wrapper .menu__content__bloc {
    width: 330px;
  }
}

.menu__wrapper .menu__content__list {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 0px;
  margin-top: 2px;
}

@media screen and (min-width: 768px) {
  .menu__wrapper .menu__content__list {
    justify-self: flex-start;
    width: 100%;
    margin-top: 30px;
  }
}

.menu__wrapper .menu__title {
  -ms-grid-column-align: start;
      justify-self: start;
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  line-height: 0px;
  border-bottom: 3px solid #99e2d0;
  width: 40px;
  margin-bottom: 18px;
}

.menu__wrapper .menu__desc {
  width: 100%;
  border: 0px;
  line-height: 1;
  font-size: 14px;
  background-color: #ffff;
  -webkit-filter: drop-shadow(0px 3px 6px #4444442e);
          filter: drop-shadow(0px 3px 6px #4444442e);
  border-radius: 15px 15px 15px 15px;
  padding: 10px 10px 10px 10px;
  margin-bottom: 15px;
  text-decoration: none;
  color: black;
}

.menu__wrapper .menu__desc p {
  margin: 3px;
}

.menu__wrapper .menu__desc a {
  text-decoration: none;
  color: black;
}

.menu__wrapper .menu__price-bloc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 12px;
}

.menu__wrapper .remplissage {
  background-color: #99e2d0;
  width: 0px;
  position: absolute;
  right: 0px;
  padding: 17px 0px 17px 0px;
  height: 100.5%;
  bottom: 0px;
  border-radius: 0px 15px 15px 0px;
  -webkit-transition: all 0.4s linear 0s;
  transition: all 0.4s linear 0s;
}

.menu__wrapper .menu__desc--animation:hover .remplissage {
  width: 60px;
  padding: 17px 10px 17px 10px;
}

.menu__wrapper .price {
  white-space: nowrap;
  text-overflow: ellipsis;
  -webkit-transition: all 0.4s linear 0s;
  transition: all 0.4s linear 0s;
}

.menu__wrapper .menu__desc--animation:hover .price {
  text-indent: 60px;
}

.menu__wrapper .menu__textdescription {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
}

.menu__wrapper .remplissage-content:after {
  content: "\f058";
  font-family: FontAwesome;
  font-size: 25px;
  opacity: 0;
  color: #ffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 0px;
  position: absolute;
  right: 30px;
  height: 100%;
  bottom: 0px;
  text-align: center;
  -webkit-animation: left-to-right 0.5s;
          animation: left-to-right 0.5s;
  -webkit-transition: opacity .6s;
  transition: opacity .6s;
}

.menu__wrapper .menu__desc--animation:hover .remplissage-content:after {
  right: 30px;
  opacity: 2;
  -webkit-animation: rolling 0.5s linear 0s;
          animation: rolling 0.5s linear 0s;
}

@-webkit-keyframes rolling {
  0% {
    -webkit-transform: translateX(30px) rotateZ(360deg);
            transform: translateX(30px) rotateZ(360deg);
  }
  33% {
    -webkit-transform: translateX(20px) rotateZ(300deg);
            transform: translateX(20px) rotateZ(300deg);
  }
  66% {
    -webkit-transform: translateX(10px) rotateZ(180deg);
            transform: translateX(10px) rotateZ(180deg);
  }
  100% {
    -webkit-transform: translateX(0px) rotateZ(0deg);
            transform: translateX(0px) rotateZ(0deg);
  }
}

@keyframes rolling {
  0% {
    -webkit-transform: translateX(30px) rotateZ(360deg);
            transform: translateX(30px) rotateZ(360deg);
  }
  33% {
    -webkit-transform: translateX(20px) rotateZ(300deg);
            transform: translateX(20px) rotateZ(300deg);
  }
  66% {
    -webkit-transform: translateX(10px) rotateZ(180deg);
            transform: translateX(10px) rotateZ(180deg);
  }
  100% {
    -webkit-transform: translateX(0px) rotateZ(0deg);
            transform: translateX(0px) rotateZ(0deg);
  }
}

@-webkit-keyframes left-to-right {
  0% {
    -webkit-transform: translateX(0px) rotateZ(0deg);
            transform: translateX(0px) rotateZ(0deg);
  }
  33% {
    -webkit-transform: translateX(10px) rotateZ(180deg);
            transform: translateX(10px) rotateZ(180deg);
  }
  66% {
    -webkit-transform: translateX(20px) rotateZ(300deg);
            transform: translateX(20px) rotateZ(300deg);
  }
  100% {
    -webkit-transform: translateX(30px) rotateZ(360deg) scale(0px);
            transform: translateX(30px) rotateZ(360deg) scale(0px);
  }
}

@keyframes left-to-right {
  0% {
    -webkit-transform: translateX(0px) rotateZ(0deg);
            transform: translateX(0px) rotateZ(0deg);
  }
  33% {
    -webkit-transform: translateX(10px) rotateZ(180deg);
            transform: translateX(10px) rotateZ(180deg);
  }
  66% {
    -webkit-transform: translateX(20px) rotateZ(300deg);
            transform: translateX(20px) rotateZ(300deg);
  }
  100% {
    -webkit-transform: translateX(30px) rotateZ(360deg) scale(0px);
            transform: translateX(30px) rotateZ(360deg) scale(0px);
  }
}

.menu__wrapper .menu__content--entrees {
  -webkit-animation: fadein 1s;
          animation: fadein 1s;
}

@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.menu__wrapper .menu__content--plats {
  -webkit-animation: fadein 2.5s;
          animation: fadein 2.5s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.menu__wrapper .menu__content--desserts {
  -webkit-animation: fadein 3.5s;
          animation: fadein 3.5s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.btn__commander__wrapper {
  background-color: #f6f6f6;
  width: 100%;
  height: 105px;
  position: relative;
  margin: auto;
  margin-bottom: -10px;
  margin-top: -17px;
  max-width: 1224px;
}

.btn__commander__wrapper .btn__commander__content {
  width: 100%;
  height: 90px;
  margin: auto;
  margin-bottom: 0px;
  margin-top: 0px;
  padding-top: 18px;
}

.btn__commander__wrapper .btn__commander {
  display: inline-block;
  width: 170px;
  position: absolute;
  border: 0px;
  border-radius: 30px 30px 30px 30px;
  padding: 10px 20px;
  color: #ffff;
  text-decoration: none;
  background: #FF79DA;
  background: -webkit-gradient(left top, left bottom, color-stop(0%, #FF79DA), color-stop(46%, #FF79DA), color-stop(100%, #9356DC));
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), color-stop(46%, #FF79DA), to(#9356DC));
  background: linear-gradient(to bottom, #FF79DA 0%, #FF79DA 46%, #9356DC 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FF79DA', endColorstr='#9356DC', GradientType=0 );
  -webkit-filter: drop-shadow(0px 7px 6px #0000002e);
          filter: drop-shadow(0px 7px 6px #0000002e);
  padding: 10px 40px;
  margin-top: 22px;
  left: 50%;
  right: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: -webkit-filter 1s;
  transition: -webkit-filter 1s;
  transition: filter 1s;
  transition: filter 1s, -webkit-filter 1s;
}

.btn__commander__wrapper .btn__commander:hover {
  background: #ff7ada;
  -webkit-filter: drop-shadow(0px 12px 6px #272727);
          filter: drop-shadow(0px 12px 6px #272727);
}

footer {
  margin-top: -1.5em;
  margin-bottom: 0em;
  padding-bottom: 5%;
  background-color: #353535;
  position: absolute;
  width: 100%;
  margin-top: 10px;
}

footer .footer__content__title {
  font-family: "Shrikhand", cursive;
  margin-left: 5%;
  font-size: 1.1em;
  font-weight: 100;
  color: #ffff;
  padding-top: 1.2em;
}

footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin: 0;
  list-style-type: none;
  color: #ffff;
  margin-bottom: 0;
  padding-left: 5%;
  line-height: 0;
}

footer ul .footer__utensils {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 12px;
}

footer ul .footer__hands-helping {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 12px;
}

footer ul .footer__contact {
  text-decoration: none;
  color: #ffff;
}

@media screen and (min-width: 768px) {
  footer ul ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-left: 0;
    max-width: 1224px;
  }
}
/*# sourceMappingURL=style-menu.css.map */