* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
}

header {
  background-color: #ffff;
  padding: 25px 0px 16px 0px;
  position: relative;
  -webkit-box-shadow: 0px 6px 9px -5px #999999;
  box-shadow: 0px 6px 9px -5px #999999;
}

header .header__logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.search__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.search__content--text {
  margin-left: 15px;
  padding: 2px 0px;
  font-family: "Roboto", sans-serif;
}

.search__content--grey {
  background-color: #eaeaea;
}

.pitch__wrapper {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 45px 0px 90px 0px;
  background: #ffffff;
  background: -webkit-gradient(left top, left bottom, color-stop(0%, #ffffff), color-stop(67%, #f6f6f6), color-stop(100%, #f2f2f2));
  background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), color-stop(67%, #f6f6f6), to(#f2f2f2));
  background: linear-gradient(to bottom, #ffffff 0%, #f6f6f6 67%, #f2f2f2 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f2f2f2', GradientType=0 );
}

.pitch__content {
  text-align: center;
  width: 88%;
  margin-left: auto;
  margin-right: auto;
}

.pitch h1 {
  font-size: 30px;
  margin-top: 0;
  margin-bottom: 15px;
}

.pitch h2 {
  font-weight: 100;
  font-size: 18px;
  margin-bottom: 50px;
}

.pitch__btn-nos-restos {
  border: 0px;
  border-radius: 30px 30px 30px 30px;
  padding: 10px 20px;
  color: #ffff;
  text-decoration: none;
  background: #FF79DA;
  background: -webkit-gradient(left top, left bottom, color-stop(0%, #FF79DA), color-stop(46%, #FF79DA), color-stop(100%, #9356DC));
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), color-stop(46%, #FF79DA), to(#9356DC));
  background: linear-gradient(to bottom, #FF79DA 0%, #FF79DA 46%, #9356DC 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FF79DA', endColorstr='#9356DC', GradientType=0 );
  -webkit-filter: drop-shadow(0px 7px 6px #0000002e);
          filter: drop-shadow(0px 7px 6px #0000002e);
}

.choice {
  margin-top: 50px;
}

.choice__wrapper {
  max-width: 1224px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.choice__content {
  margin-left: auto;
  margin-right: auto;
}

.choice h1 {
  margin-left: 5%;
}

.choice__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  gap: 25px;
  padding-left: 10px;
  margin-top: 25px;
  margin-bottom: 40px;
  width: 100%;
  list-style-type: none;
  counter-reset: list;
}

.choice li {
  counter-increment: list;
  -webkit-filter: drop-shadow(0px 3px 6px #4444442e);
          filter: drop-shadow(0px 3px 6px #4444442e);
}

.choice li::before {
  content: " " counter(list) " ";
  border-radius: 50%;
  padding: 3px 4.3px 3px 6px;
  width: 45px;
  vertical-align: middle;
  color: white;
  background-color: #9356DC;
  font-size: 11px;
  position: relative;
  z-index: 99;
  right: -3%;
}

.choice .fa-mobile-alt {
  color: #7e7e7e;
  border: 0px;
  background-color: #f6f6f6;
  border-radius: 20px 0px 0px 20px;
  padding: 21px 10px 22px 25px;
}

.choice__restaurant {
  text-decoration: none;
  color: black;
  font-weight: 600;
  border: 0px;
  background-color: #f6f6f6;
  border-radius: 0px 20px 20px 0px;
  padding: 20px 55px 20px 10px;
  margin-left: -2%;
}

.choice .fa-list-ul {
  color: #7e7e7e;
  border: 0px;
  background-color: #f6f6f6;
  border-radius: 20px 0px 0px 20px;
  padding: 21px 10px 22px 25px;
}

.choice__menu {
  text-decoration: none;
  color: black;
  font-weight: 600;
  border: 0px;
  background-color: #f6f6f6;
  border-radius: 0px 20px 20px 0px;
  padding: 20px 55px 20px 10px;
  margin-left: -2%;
}

.choice .fa-store {
  color: #9356DC;
  border: 0px;
  background-color: #f8ebfc;
  border-radius: 20px 0px 0px 20px;
  padding: 21px 10px 22px 25px;
}

.choice__deguster {
  text-decoration: none;
  color: black;
  font-weight: 600;
  border: 0px;
  background-color: #f8ebfc;
  border-radius: 0px 20px 20px 0px;
  padding: 20px 55px 20px 10px;
  margin-left: -2%;
}

.restaurants {
  margin-top: 4em;
}

.restaurants__wrapper {
  max-width: 1224px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-color: #f6f6f6;
  padding-top: 1.75em;
  padding-bottom: 8em;
}

.restaurants h1 {
  margin-left: 5%;
}

.restaurants__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  gap: 75px;
}

@media screen and (min-width: 768px) {
  .restaurants__content {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.restaurants__la-palette-du-gout {
  width: 90%;
  height: 143px;
  margin-bottom: 20px;
  position: relative;
}

@media screen and (min-width: 768px) {
  .restaurants__la-palette-du-gout {
    width: 40%;
  }
}

.restaurants__palette_pic {
  width: 100%;
  height: 150px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 48% 55%;
     object-position: 48% 55%;
  margin-bottom: -10px;
  border-radius: 15px 15px 0px 0px;
}

.restaurants__palette_text_heart_bloc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ffff;
  padding: 20px 15px 10px 15px;
  height: 80px;
  width: 99.9%;
  -webkit-box-shadow: 0 0 25px -15px #444444;
          box-shadow: 0 0 25px -15px #444444;
  border-radius: 0px 0px 15px 15px;
  line-height: 1.4;
  text-decoration: none;
  color: black;
}

.restaurants__nouveau-palette {
  font-size: .85em;
  position: absolute;
  background-color: #99e2d0;
  color: #008766;
  border: 0px;
  padding: .4em 1em;
  right: 1em;
  top: .1em;
  -webkit-filter: drop-shadow(0px 3px 2px #4444442e);
          filter: drop-shadow(0px 3px 2px #4444442e);
  border-radius: 3px 3px 3px 3px;
  position: absolute;
}

.restaurants__la-note-enchantee {
  width: 90%;
  height: 143px;
  margin-bottom: 20px;
  position: relative;
}

@media screen and (min-width: 768px) {
  .restaurants__la-note-enchantee {
    width: 40%;
  }
}

.restaurants__enchantee_pic {
  width: 100%;
  height: 150px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 48% 55%;
     object-position: 48% 55%;
  margin-bottom: -10px;
  border-radius: 15px 15px 0px 0px;
}

.restaurants__enchantee_text_heart_bloc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ffff;
  padding: 20px 15px 10px 15px;
  height: 80px;
  width: 99.9%;
  -webkit-box-shadow: 0 0 25px -15px #444444;
          box-shadow: 0 0 25px -15px #444444;
  border-radius: 0px 0px 15px 15px;
  line-height: 1.4;
  text-decoration: none;
  color: black;
}

.restaurants__nouveau-enchantee {
  font-size: .85em;
  position: absolute;
  background-color: #99e2d0;
  color: #008766;
  border: 0px;
  padding: .4em 1em;
  right: 1em;
  top: .1em;
  -webkit-filter: drop-shadow(0px 3px 2px #4444442e);
          filter: drop-shadow(0px 3px 2px #4444442e);
  border-radius: 3px 3px 3px 3px;
  position: absolute;
}

.restaurants__a-la-francaise {
  width: 90%;
  height: 143px;
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .restaurants__a-la-francaise {
    width: 40%;
  }
}

.restaurants__francaise_pic {
  width: 100%;
  height: 150px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 48% 55%;
     object-position: 48% 55%;
  margin-bottom: -10px;
  border-radius: 15px 15px 0px 0px;
}

.restaurants__francaise_text_heart_bloc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ffff;
  padding: 20px 15px 10px 15px;
  height: 80px;
  width: 99.9%;
  -webkit-box-shadow: 0 0 25px -15px #444444;
          box-shadow: 0 0 25px -15px #444444;
  border-radius: 0px 0px 15px 15px;
  line-height: 1.4;
  text-decoration: none;
  color: black;
}

.restaurants__le-delice-des-sens {
  width: 90%;
  height: 143px;
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .restaurants__le-delice-des-sens {
    width: 40%;
  }
}

.restaurants__delice_pic {
  width: 100%;
  height: 150px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 48% 55%;
     object-position: 48% 55%;
  margin-bottom: -10px;
  border-radius: 15px 15px 0px 0px;
}

.restaurants__delice_text_heart_bloc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ffff;
  padding: 20px 15px 10px 15px;
  height: 80px;
  width: 99.9%;
  -webkit-box-shadow: 0 0 25px -15px #444444;
          box-shadow: 0 0 25px -15px #444444;
  border-radius: 0px 0px 15px 15px;
  line-height: 1.4;
  text-decoration: none;
  color: black;
}

Footer {
  margin-top: -1.5em;
  margin-bottom: 0em;
  padding-bottom: 2em;
  background-color: #353535;
}

Footer .footer__content__title {
  font-family: "Shrikhand", cursive;
  margin-left: 5%;
  font-size: 1.1em;
  font-weight: 100;
  color: #ffff;
  padding-top: 1.2em;
}

Footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin: 0;
  list-style-type: none;
  color: #ffff;
  margin-bottom: 0;
  padding-left: 5%;
  line-height: 0;
}

Footer ul .footer__utensils {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 12px;
}

Footer ul .footer__hands-helping {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 12px;
}

Footer ul .footer__contact {
  text-decoration: none;
  color: #ffff;
}

@media screen and (min-width: 768px) {
  Footer ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-left: 0;
  }
}
/*# sourceMappingURL=style.css.map */