$font-logo-and-titles: 'Shrikhand', cursive;
$font-text: 'Roboto', sans-serif;
$title-bkgnd-color: #ffff;
$location-band-color: #eaeaea;
$primary-bkgnd-color: #f6f6f6;
$secondary-color: #FF79DA;
$primary-color: #9356DC;

*{
    box-sizing: border-box;  
}

body {
margin: 0 auto;
font-family: $font-text;

}

header {
background-color: $title-bkgnd-color;
padding: 25px 0px 16px 0px;
position: relative;
-webkit-box-shadow: 0px 6px 9px -5px rgba(153,153,153,1);
-moz-box-shadow: 0px 6px 9px -5px rgba(153,153,153,1);
box-shadow: 0px 6px 9px -5px rgba(153,153,153,1);
 .header__logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
 }
 }

 .search__content {
     display: flex;
     justify-content: center;
     align-items: center;
   &--text {
     margin-left: 15px;
     padding: 2px 0px;
     font-family: $font-text;
     }
   &--grey {
     background-color: $location-band-color;
     }
 }


  .pitch {
      
   &__wrapper {  
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 45px 0px 90px 0px;
    background: #ffffff;
    background: -moz-linear-gradient(top, #ffffff 0%, #f6f6f6 67%, #f2f2f2 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, #ffffff), color-stop(67%, #f6f6f6), color-stop(100%, #f2f2f2));
    background: -webkit-linear-gradient(top, #ffffff 0%, #f6f6f6 67%, #f2f2f2 100%);
    background: -o-linear-gradient(top, #ffffff 0%, #f6f6f6 67%, #f2f2f2 100%);
    background: -ms-linear-gradient(top, #ffffff 0%, #f6f6f6 67%, #f2f2f2 100%);
    background: linear-gradient(to bottom, #ffffff 0%, #f6f6f6 67%, #f2f2f2 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f2f2f2', GradientType=0 );
}
   &__content {
    text-align: center;
    width: 88%;
    margin-left: auto;
    margin-right: auto;
}
    
    & h1 {
     font-size: 30px;
     margin-top: 0;
     margin-bottom: 15px;
        }
    & h2 {
     font-weight: 100;
     font-size: 18px;
     margin-bottom: 50px;
        }
    
  &__btn-nos-restos {
    border: 0px;
    border-radius: 30px 30px 30px 30px;
    padding: 15px 20px;
    color: #ffff;
    text-decoration: none;
    background: $secondary-color;
    background: -moz-linear-gradient(top, #FF79DA 0%, #FF79DA 46%, #9356DC 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, #FF79DA), color-stop(46%, #FF79DA), color-stop(100%, #9356DC));
    background: -webkit-linear-gradient(top, #FF79DA 0%, #FF79DA 46%, #9356DC 100%);
    background: -o-linear-gradient(top, #FF79DA 0%, #FF79DA 46%, #9356DC 100%);
    background: -ms-linear-gradient(top, #FF79DA 0%, #FF79DA 46%, #9356DC 100%);
    background: linear-gradient(to bottom, #FF79DA 0%, #FF79DA 46%, #9356DC 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FF79DA', endColorstr='#9356DC', GradientType=0 );
    filter: drop-shadow(0px 7px 6px #0000002e);
   }  
 }


 .choice {
  margin-top: 50px;

   &__wrapper {
    width: 100%;
    margin-left: auto;
    margin-right: auto; 
    }

   &__content {
     margin-left: auto;
     margin-right: auto;
    } 

     h1{
      margin-left: 5%;
    }

   &__buttons {
     display: flex;
     flex-direction: row;
     flex-wrap: wrap;
     justify-content: space-evenly;
     gap: 25px;
     padding-left: 10px;
     margin-top: 25px;
     margin-bottom: 40px;
     width: 100%;
     list-style-type: none;
     // Start counter //
     counter-reset: list;
    }

     li {
     // Increment counter on each list item //
     counter-increment: list;
     filter: drop-shadow(0px 3px 6px #4444442e);
      }

     li::before {
     // Use counter to display the current number //
     content: " " counter(list) " ";
     border-radius: 50%;
     padding: 3px 4.3px 3px 6px;
     width: 45px;
     vertical-align: middle;
     color: white;
     background-color: $primary-color;
     font-size: 11px;
     position: relative;
     z-index: 99;
     right: -3%;
    }

    //Mobile phone icon//
     .fa-mobile-alt {
     color: #7e7e7e;
     border: 0px;
     background-color: $primary-bkgnd-color;
     border-radius: 20px 0px 0px 20px;
     padding: 20.8px 10px 21.8px 25px;
    
    }
    //Mobile phone button text//
    &__restaurant {
     text-decoration: none;
     color: black;
     font-weight: 600;
     border: 0px;
     background-color: $primary-bkgnd-color;
     border-radius: 0px 20px 20px 0px;
     padding: 20px 55px 20px 10px;
     margin-left: -2%;
     
    }
    //Menu icon//
     .fa-list-ul{
      color: #7e7e7e;
      border: 0px;
      background-color: $primary-bkgnd-color;
      border-radius: 20px 0px 0px 20px;
      padding: 21px 10px 22px 25px;
     }
    //Menu button text//
    &__menu {
      text-decoration: none;
      color: black;
      font-weight: 600;
      border: 0px;
      background-color: $primary-bkgnd-color;
      border-radius: 0px 20px 20px 0px;
      padding: 20px 55px 20px 10px;
      margin-left: -2%;

    }
    //Dégustez icon
    .fa-store{
      color: $primary-color;
      border: 0px;
      background-color: #f8ebfc;
      border-radius: 20px 0px 0px 20px;
      padding: 21px 10px 22px 25px; 

    }
    //Dégustez button text//
    &__deguster {
      text-decoration: none;
      color: black;
      font-weight: 600;
      border: 0px;
      background-color: #f8ebfc;
      border-radius: 0px 20px 20px 0px;
      padding: 20px 55px 20px 10px;
      margin-left: -2%;
    }


 }


 .restaurants {
    margin-top: 4em;

    &__wrapper {
      width: 100%;
      margin-left: auto;
      margin-right: auto;
      background-color: $primary-bkgnd-color;
      padding-top: 1.75em;
      }
      
      h1{      
      margin-left: 5%;
      }

     &__content {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-evenly;
      gap: 75px;
    
      } 

     &__la-palette-du-gout {
      width: 90%;
      height: 143px;
      margin-bottom: 20px;
      position: relative;
      }

     &__palette_pic {
      width: 100%;
      height: 150px;
      object-fit: cover;
      object-position: 48% 55%;
      margin-bottom: -10px;
      border-radius: 15px 15px 0px 0px;
      }

     &__palette_text_heart_bloc {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      background-color: #ffff;
      padding: 10px 15px 10px 15px;
      height: 90px;
      width: 99.9%;
      box-shadow: 0 0 25px -15px #444444;
      border-radius: 0px 0px 15px 15px;
      line-height: 1.4;
      }
  
      &__palette_text {
        text-decoration:none;
        color: black;

      }


     &__nouveau-palette {
      position: absolute;
      background-color: #99e2d0;
      color: #008766;
      border: 0px;
      padding: .4em 1em;
      right: 1em;
      top: .1em;
      filter: drop-shadow(0px 12px 2px #4444442e);
      border-radius: 3px 3px 3px 3px;
      }

      



  
     &__la-note-enchantee {
      width: 90%;
      height: 143px;
      margin-bottom: 20px;
      position: relative;
     }

     &__enchantee_pic {
      width: 100%;
      height: 150px;
      object-fit: cover;
      object-position: 48% 55%;
      margin-bottom: -25px;
      border-radius: 15px 15px 0px 0px;

     }

    &__enchantee_text {
      background-color: #ffff;
      padding: 10px 15px;
      height: 90px;
      width: 99.9%;
      box-shadow: 0 0 25px -15px #444444;
      border-radius: 0px 0px 15px 15px;
      box-sizing: border-box;
      line-height: 1.4;

    }

    &__nouveau-enchantee {
      position: absolute;
      background-color: #99e2d0;
      color: #008766;
      border: 0px;
      padding: .4em 1em;
      right: 1em;
      top: .1em;
      filter: drop-shadow(0px 4px 1px #4444442e);
      border-radius: 3px 3px 3px 3px;

    }




    &__a-la-francaise {
      width: 90%;
      height: 143px;
      margin-bottom: 20px;

    }

    &__francaise_pic {
      width: 100%;
      height: 150px;
      object-fit: cover;
      object-position: 48% 55%;
      margin-bottom: -25px;
      border-radius: 15px 15px 0px 0px;

    }

    &__francaise_text {
      background-color: #ffff;
      padding: 10px 15px;
      height: 90px;
      width: 99.9%;
      box-shadow: 0 0 25px -15px #444444;
      border-radius: 0px 0px 15px 15px;
      box-sizing: border-box;
      line-height: 1.4;

    }




    &__le-delice-des-sens {
      width: 90%;
      height: 143px;
      margin-bottom: 20px;

    }
    
    &__delice_pic {
      width: 100%;
      height: 150px;
      object-fit: cover;
      object-position: 48% 55%;
      margin-bottom: -25px;
      border-radius: 15px 15px 0px 0px;

    }

    &__delice_text {
      background-color: #ffff;
      padding: 10px 15px;
      height: 90px;
      width: 99.9%;
      box-shadow: 0 0 25px -15px #444444;
      border-radius: 0px 0px 15px 15px;
      box-sizing: border-box;
      line-height: 1.4;

    }


 }



