$font-logo-and-titles: 'Shrikhand', cursive;
$font-text: 'Roboto', sans-serif;
$title-bkgnd-color: #ffff;
$location-band-color: #eaeaea;
$primary-bkgnd-color: #f6f6f6;
$secondary-color: #FF79DA;
$primary-color: #9356DC;
$footer-bkgnd-color: #353535;